[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:carafelix/css-exercises.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = git@github.com:carafelix/javascript-exercises.git
[submodule "landing-page"]
	path = landing-page
	url = git@github.com:carafelix/landing-page.git
[submodule "recipes-html"]
	path = recipes-html
	url = https://github.com/carafelix/recipes-html
[submodule "rps-sansukumi-ken"]
	path = rps-sansukumi-ken
	url = git@github.com:carafelix/rps-sansukumi-ken.git
[submodule "JavaScript30"]
	path = JavaScript30
	url = git@github.com:carafelix/JavaScript30.git
[submodule "paintesque"]
	path = paintesque
	url = git@github.com:carafelix/paintesque.git
[submodule "calculator"]
	path = calculator
	url = git@github.com:carafelix/calculator.git
[submodule "admin-dashboard"]
	path = admin-dashboard
	url = git@github.com:carafelix/admin-dashboard.git
[submodule "sign-up-form"]
	path = sign-up-form
	url = git@github.com:carafelix/sign-up-form.git
